.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  width: 100%;
  height: auto;

  display: block;

  object-fit: cover;

  border-radius: 20px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.container h1 {
  color: #0f172a;
}

.container p {
  line-height: 1.8;
  color: #555;
  font-size: 1.1rem;
}

.button {
  width: fit-content;

  background: #2563eb;

  color: white;

  text-decoration: none;

  padding: 14px 22px;

  border-radius: 10px;

  transition: 0.3s;
}

.button:hover {
  background: #1d4ed8;
}